@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap');

@theme {
  --font-mono: "Roboto Mono", monospace;

  --color-brand-50: #eff6ff;
  --color-brand-100: #dbeafe;
  --color-brand-500: #3b82f6;
  --color-brand-600: #2563eb;
  --color-brand-700: #1d4ed8;
  --color-brand-800: #1e40af;
  --color-brand-900: #1e3a8a;
}

@layer base {
  body {
    font-family: var(--font-mono);
    @apply bg-white text-slate-900 antialiased;
  }
}